
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login| No Dues Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

    hr {

        border: 3;
        color : #000000;
        height: 5px;
        width: 400%;
       }

        .navbar {
      margin-bottom: 0;
      border-radius: 0;
            background-color=#555;
    }

    .row.content {height: 450px}

     .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

      #footer {
      bottom = 0px;
      background-color: #555;
      color: white;
      padding: 15px;
    }

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    </style>
</head>
<body>


<nav class="navbar navbar-inverse" style="   background-color: #555; border-color: #080808;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav "    style=" margin:0;
    float:none;">
        <li><span style="color: #FFFFFF;margin-left:280px;margin-top:20px;font-size:30px;font-family:Arial Black;"><b>Indian Institute Of Technology Guwahati</b></span></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 sidenav">

    </div>
    <div class="col-sm-4 text-left">
        <h3><b>No Dues Form Automation Portal</b></h3><hr>
                    {% if error_message %}
                        <p style="color: #ff2c17;"><strong>{{ error_message }}</strong></p>
                    {% endif %}
      <h3>Log in</h3><br>
      <form class="form-horizontal" role="form" action="{% url 'main:login_user'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="id_username">
                                Username
                            </label>
                            <div class="col-sm-9">
                                <input id="id_username" maxlength="30" name="username" class="form-control" type="text" placeholder="Webmail-id" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="id_role">
                                Role
                            </label>
                            <div class="col-sm-9">
                               <select  id = "id_role"  class="form-control" name = "role"  style="width: 190px; text-align: left;">
                                  <option value="Student">Student</option>
                                  <option value="Faculty">Faculty</option>
                                  <option value="HOD">HOD</option>
                                  <option value="Caretaker">Caretaker</option>
                                  <option value="Warden">Warden</option>
                                  <option value="Library">Library</option>
                                  <option value="CC">CC</option>
                                  <option value="Gymkhana">Gymkhana</option>
                                  <option value="Assistant Registrar">Assistant Reistrar</option>
                                  <option value="Lab">Lab</option>
                                  <option value="OnlineCC">OnlineCC</option>
                                  <option value="Thesis Manager">Thesis Manager</option>
                                   <option value="Account">Account</option>
                                   <option value="Admin">Admin</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="id_password">
                                Password
                            </label>
                            <div class="col-sm-9">
                                <input id="id_password" maxlength="30" name="password" class="form-control" type="password" placeholder="Password" required>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-12">
                                <button type="submit" style="width:100px;" class="btn btn-success">Log in</button>
                            </div>
                        </div>
                        </form>
      <hr>
    </div>
    <div class="col-sm-4 sidenav">
    </div>
  </div>
</div>


<div class="page-footer-inner container-fluid text-center" id="footer">
 <div class="row">
                <div class="col-lg-6">
                    <p style="font-size:1.2em;">Copyright &copy; 2016 IIT Guwahati </p>
                </div>
                <div class="col-lg-6" style="text-align:right;">
                    <p style="font-size:1.2em;">Developed By <a href="https://automation.iitg.ernet.in/automation" style="color:#169FD8;text-decoration:none;">Software Comedians</a></p>
                </div>
            </div>
</div>
</body>
</html>